h1 {
    text-align: center;
    color:  rgba(255, 255, 0, 0.788);
    font-size: 3em;
    font-family: 'Gadugi';
    } 

p {
    color: white;
    font-family: 'Nobile', Helvetica, Arial;
    font-size: 18px;
}

body {
    max-width: 650px;
    font-size: 18px;
    font-family: 'Gadugi';
    margin: 50px;
}

h2, h3{
    color: rgba(255, 255, 0, 0.788);
    font-family: 'Gadugi';
    font-size: 1.7em;
}

a{
    color: rgba(255, 255, 0, 0.788);
}

ul{
    color: white;
}
